
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
	<style>
	body{font-family:"microsoft yahei","Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;color:#333;font-size:1rem;}
	.kq-qywh{padding:30px 20px;}
	.kq-qywh>img{width:40%;margin:0 30%;}
	.kq-qywh>em{font-style:normal; line-height:180%; text-indent:2em;}
	
	</style>
    <!-- Bootstrap Core CSS -->
    
    <!-- Custom CSS -->
    
    <!-- Custom Fonts -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
    <!-- About -->
    <section class="kq-qywh">



        {% load staticfiles %}
        <img src="{% static 'images/cpjs.png' %}">
          <em>叮当钱袋是吉林省德鑫科技有限公司（Jilin province DE xin technology co., LTD）于2017年正式独立发开运营的APP，对于用户来说我们有丰富的行业经验，有先进的科学技术，同时也给投资人一个诚信的投资平台。叮当钱袋坚持做行业自律表率并积极寻求社会监管，以透明、自律、创新、为目标，致力于有资金需求的借款者搭建一个高效、快捷、安全的贷款服务。让用户更完美的从利达享受贷款服务，为社会创造真正的价值。</em><br />
          <em>叮当钱袋始终认为保护用户的隐私，保证用户的信息安全是最基本的操守。</em> <br />
          <em>【产品简介】</em><br />
          <em style="text-indent:2em">叮当钱袋，一站式财务服务平台。放款快、轻松盘活固定资产，用钱就找叮当钱袋。</em><br />
          <em>【叮当钱袋介绍】</em><br />
          <em style="text-indent:2em">叮当钱袋致力于打造全新的一站式房产、抵押、服务平台，以客户为中心，以技术为驱动，深度聚焦房产、抵押领域，为客户提供包括房产抵押，汽车抵押等在内的全面、专业、安全、快捷的服务，让您轻松盘活固定资产，解除您的燃眉之急。</em>
          <em style="text-indent:2em">作为行业新锐，叮当钱袋秉承高效务实、开拓创新为客户创造价值的理念，针对借款流程、资金安全、准入资质等客户实际需求中的痛点，建立了标准化的业务运作规范、全面合理的房产评估体系、节约客户的时间，帮助客户实现资产价值最大化，解决小额资金难题，实现轻松盘活个人资产的美好愿景。</em>
          <em style="text-indent:2em">叮当钱袋目前覆盖了诸多城市，目前已经拥有了超过200人的团队业务人员，在体验我们的新型合作方式，我们期待您的加入。</em><br />
          <em style="text-indent:2em">周一至周五     08:30-17:00</em>
    </section>
    

    

    <!-- Bootstrap Core JavaScript -->
    <!-- Custom Theme JavaScript -->
    
</body>

</html>
