<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
	<style>
	body{font-family:"microsoft yahei","Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;color:#333;font-size:1rem;}
	.kq-qywh{padding:30px 20px;}
	.kq-qywh>img{width:100%;margin:auto;}
	.kq-qywh>em{font-style:normal;}
	.kq-qywh>ul{list-style:none;}
	.kq-qywh>ul>li{line-height:180%;}
	
	</style>
    <!-- Bootstrap Core CSS -->
    
    <!-- Custom CSS -->
    
    <!-- Custom Fonts -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
    <!-- About -->
    <section class="kq-qywh">
         {% load staticfiles %}
    	  <img src="{% static 'images/dkbz.png' %}"><br /><br />
          <em>贷款保障：本公司和多家大型金融机构、确保资金充足，不会造成资金链断裂的情况，充分的保证了用户贷款额度的资金充足，广大用户可以放心贷款。</em>

    </section>
    
    
    

    <!-- Bootstrap Core JavaScript -->
    <!-- Custom Theme JavaScript -->
    
</body>

</html>
