<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            img {display: inline;height: auto;max-width: 100%;}
            body {padding-left: 10px;padding-right: 10px;}
        </style>
    </head>
    <body>
  <p style="line-height: 25px"><font size="3" color="#dd4f4b" face="微软雅黑">一、申请条件：</font><br><font size="2" color="#282828" face="微软雅黑">1. 中国（不含港澳台）公民，年龄在18-65周岁，且在现单位连续工作满六个月以上的授薪人群（如不满六个月，但本单位工作内容与上一单位相同，可累加上一单位的工作期限）及经营满一年以上的经营人群。<br>2. 抵押房产权利人中无未满18周岁的未成年人及无大于70岁（含70岁）的成年人。<br>3. 房产若是二次抵押，房屋的抵押第一权利人必须是银行。<br>4. 借款人需要有一套或一套以上名下所有权住房（至少一套是本市所有权房）个人房产。<br>5.其他银行贷款条件。</font><br><font size="3" color="#dd4f4b" face="微软雅黑">二、准备资料</font><br><font size="2" color="#282828" face="微软雅黑">1、房屋产权证、购房合同及发票原件。<br>2、身份证原件、户口簿原件。<br>3、配偶身份证原件/房地产共有人身份证原件。<br>4、婚姻证明（结婚或未婚证明)。 </font></p>
    </body>
</html>
