<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
	<style>
	body{font-family:"microsoft yahei","Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;color:#333;font-size:1rem;}
	.kq-qywh{padding:30px 20px;}
	.kq-qywh>img{width:100%;margin:34px 0;}
	.kq-qywh>em{color:#282828; font-style:normal;}
	.kq-qywh>ul{list-style:none;}
	.kq-qywh>ul>li{line-height:180%;}
	
	</style>
    <!-- Bootstrap Core CSS -->
    
    <!-- Custom CSS -->
    
    <!-- Custom Fonts -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
    <!-- About -->
    <section class="kq-qywh">
         {% load staticfiles %}
    	  <img src="{% static 'images/mddz.png' %}">
          <em style="font-size: 18px;">长春市南关区服务点</em><br /><br /> 
          <em>南关区东南湖大路与东岭南街交汇，鑫隆家园小区办公楼17栋4楼，吉林省德鑫科技有限公司。</em><br />
          <em>服务电话：0431-81679887</em> 
          <!-- <ul>
            <li>长春市南关区服务点</li>
          	<li>南关区东南湖大路与东岭南街交汇，鑫隆家园小区办公楼17栋4楼，德盛金服。</li>
            <li>服务电话：0431-81679887</li>
          </ul> -->
          <img src="{% static 'images/map.png' %}">
    </section>
    
    
    

    <!-- Bootstrap Core JavaScript -->
    <!-- Custom Theme JavaScript -->
    
</body>

</html>
