<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
	<style>
	body{font-family:"microsoft yahei","Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;color:#333;font-size:1rem;}
	.kq-qywh{padding:30px 20px;}
	.kq-qywh>img{width:100%;margin:34px 0;}
	.kq-qywh>em{color:#dd4f4b;font-style:normal;font-size:1.2rem;}
	.kq-qywh>ul{list-style:none;}
	.kq-qywh>ul>li{line-height:180%;}
	
	</style>
    <!-- Bootstrap Core CSS -->
    
    <!-- Custom CSS -->
    
    <!-- Custom Fonts -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header -->
    <!-- About -->
    <section class="kq-qywh">
           {% load staticfiles %}
    	  <img src="{% static 'images/qywh.jpg' %}">
          <em>企业文化：</em>
          <ul>
          	<li>房抵贷、房易贷产品，最快一天下款</li>
            <li>门槛低、满足各阶层白领、中小企业主突发应急。</li>
            <li>资金周转、房产变现</li>
            <li>轻松盘活固定资产，快速实现资产升值。</li>
          </ul>
          <em>联系我们：</em>
          <ul>
          	<li>免费咨询热线   0431-81679887</li>
            <li>周一至周五     08:30-17:00</li>
          </ul>
    </section>
    
    
    

    <!-- Bootstrap Core JavaScript -->
    <!-- Custom Theme JavaScript -->
    
</body>

</html>
